* {
  margin: 5px;
}

body {
  scroll-behavior: auto;
  overflow-y: scroll;
}

img {
  padding: 30px 20px;
  display: block;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
  padding-top: 30px:
}

a {
  text-decoration: none;
  color: #87302a;
}

#words {
  text-align: center;
}

.info {
  position: relative;
  top: 150px;
}

ol {
  font-size: 20px;
  display: table;
  margin: 0 auto;
  padding: 10px;
}

a:hover {
  font-weight: bold;
  color: #501e1a;
}

.header {
    background-color: #87302a;
    overflow: hidden;
    text-align: center;
    color: #ded0ba;
}

.header a {
  text-align: center;
  float: left;
  color: #ded0ba;
  font-size: 20px;
  font-family: Verdana;
  padding: 12px 20px;
}

.header a.current {
  font-weight: bold;
  color: #87302a;
  background-color: #ded0ba;
}

.footer a {
  text-decoration: none;
  color: #ded0ba;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #87302a;
  padding: 10px;
  text-align: center;
  color: #ded0ba;
}

#timeline, #timeline th, #timeline td {
  margin: 0px auto;
  margin-bottom: 150px;
  font-family: Verdana;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #c4c4c4;
  border-collapse: collapse;
}

th {
  color: #ded0ba;
  background-color: #87302a;
}

.bio {
  border: 5px solid transparent;
}

#timelinetext {
  text-align: center;
}

.portraitimg {
  width: 150px;
}

.rightimg {
  width: 300px;
}

img[alt="starry night"] {
  width: 500px;
}
